:root {
  color-scheme: dark;
}

* { box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #050507;
}

a { color: inherit; }

button, select {
  font: inherit;
}
